<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Archive File Upload</title>
</head>

<body>
<h1> Hello, <%= session.twitterScreenName %> </h1>

<% if (typeof message !== 'undefined') { %>
<div class="alert alert-warning" role="alert">
    <%= message %>
</div>
<% } %>

<h3>Delete your tweets using archive file:</h3>
<p><em>Due to Twitter's monthly retrieval cap of 1,500 posts, we now only support deletion using your Twitter archive file.</em></p>
<ol>
    <li><a href="https://x.com/settings/download_your_data">Get your X (Twitter) archive zip</a></li>
    <li>Unzip and find data\tweet.js then zip the file</li>
    <li>Upload the ZIP file below and you'll be redirected to track deletion progress</li>
</ol>
<form class="form-inline" method="post" action="upload" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" name="fileUploaded">
        <span class="help-block">Max 10MB & 20,000 tweets</span>
        <input type="hidden" name="token" value="<%= session.accessToken %>">
        <input type="hidden" name="refresh_token" value="<%= session.refreshToken %>">
    </div>
    <button type="submit" class="btn btn-default">Upload</button>
</form>

</body>
</html>