<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Older Twitter Deleter</title>
</head>
<body>

<p class="lead">
    <dl>
        <h2><Dt>Older Twitter Deleter</Dt></h2>
        <dd>Delete your old tweets for free.</dd>
        <dd>Please visit github repo linked below to see what is this about should you need.</dd>
    </dl>
</p>
<p>
    <a class="btn btn-primary btn-lg" href="/auth">Let's Start</a>
</p>
<p>
    <a class="btn btn-default" href="https://github.com/logan-han/twitter-deleter">Github Repo</a>
    <a class="btn btn-default" href="https://han.life">Homepage</a>
    <a class="btn btn-default" href="https://blog.han.life">Blog</a>
</p>
</body>
</html>
