<!DOCTYPE html>
<html></html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Older Twitter Deleter</title>
</head>
<body>
<h1>Older Twitter Deleter</h1>
<H3>Step by Step:</H3>
<ol>
    <li><a href="https://twitter.com/settings/download_your_data">Get your Twitter archive zip</a></li>
    <li>Unzip and find data\tweet.js then zip the file</li>
    <li>Hit below button</li>
</ol>
<a class="pure-button pure-button-primary" href="/auth">Let's start</a>

</body>
</html>
