<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Deletion Job Scheduled</title>
</head>

<body>
<h1> Deletion job scheduled </h1>
<% if (typeof tweetCount !== 'undefined') { %>
<p><strong><%= tweetCount %></strong> tweets found and queued for deletion.</p>
<% } %>
<h2> Wait 10 seconds and click below to check the status</a> </h2>
<h2> <a class="btn btn-default" href="/status/<%= jobId %>">Job Status Check</a> </h2>

</body>
</html>