<!DOCTYPE html>
<html></html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Deletion Job Scheduled</title>
</head>

<body>
<h1> Deletion job scheduled </h1>
<h2> Wait 10 seconds and click below to check the status</a> </h2>
<h2> <a class="pure-button pure-button-primary" href="/status/<%= jobId %>">Job Status Check</a> </h2>

</body>
</html>