<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Job Status</title>
</head>

<body>
<h1> Deletion Job in Progress... </h1>
<!-- TODO - Add automatic refresh & cancel button -->

<table class="table">
    <tbody>
    <tr><td>Job ID</td><td><%= item.jobId %></td>
    <tr><td>Remaining Item</td><td><%= item.tweet_no %></td>
    </tbody>
</table>
</body>
</html>