<!DOCTYPE html>
<html></html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Job Status</title>
</head>

<body>
<h1> Deletion Job in Progress... </h1>
<!-- TODO - Add automatic refresh & add cancel button -->

<table class="pure-table pure-table-bordered">
    <tbody>
    <tr><td>Job ID</td><td><%= item.jobId %></td>
    <tr><td>Remaining Item</td><td><%= item.tweet_no %></td>
    </tbody>
</table>
</body>
</html>